  .register {
    margin: 0 auto;
  }

  .col1{
    display: inline-block;
  }

  .col2{
    display: inline-block;
  }
  
  .register label {
    text-align: left;
    font-weight: bold;
  }
  
  .register input {
      width: 100%;
      height: 65px;
      padding: 6px 10px;
      border: 3px solid rgb(0, 100, 255);
      box-shadow: 15px 15px black;
      display: block;
  }
  
  .inputRegUser {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  
  .inputRegEmail {
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;
  }
  
  .register button {
    font-weight: bold;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 4px 6px black;
    display: block;
    margin: auto;
    margin-block: 30px;
  }
  
  .log2{
    background: #f1356d;
    width: 50%;
    height: 50px;
    font-size: 20px;
  }
  
  .reg2{
    background: rgb(0, 0, 255);
    width: 35%;
  }