.teacher {
  text-align: center;
}

.exit{
  background-color: #B25656;
  width: 115%;
  align-items: center;
  outline: black solid 2px;
  border-radius: 50px;
  box-shadow: 10px 8px 0px black;
  height: 5vh;
  justify-content: 'center';
  align-items: 'center';
  text-align: center;
  cursor: pointer;
}

.buttonNew{
  color: white;
  background: #DB868B;
  width: 20%;
  height: 10%;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.newProjButton{
  color: white;
  background: #DB868B;
  width: 15%;
  height: 6%;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.newCancelButton{
  color: white;
  background: #B25656;
  width: 15%;
  height: 6%;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.menu{
  padding-top: 1px;
  margin-bottom: 27px;
  padding-bottom: 1px;
  margin-top: 26px;
  background: linear-gradient(0deg,#DB868B 75%,white 75%, white 100%, #DB868B 0%);
  color: white;
  outline: black solid 2px;
  border-radius: 20px;
  box-shadow: 10px 8px 0px black;
  font-size: 23px;
  width: 115%;
  cursor: pointer;
}

.perfilImage{
  width: 80px;
  height: 80px;
  outline: black solid 2px;
  border-radius: 100px;
  box-shadow: 3px 5px 0px black;
}

.perfilText{
  align-content: center;
  text-align: left;
  margin-left:30px;
  color: black;
  font-size: calc(20px + 2vmin);
}
.seperatorMenu{
  background: white;
  height: 2px;
}

.seperatorResults{
  background: darkgrey;
  height: 1px;
  width: 80%;
  margin: auto;
}


.barra {
  display: inline-flex;
  background-color: #02408D;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-right: 0px;
  justify-content: space-around;
  align-content: center;
  outline: black solid 2px;
  border-radius: 5px;
  box-shadow: 10px 7px 0px black;
  font-size: 10px;
  font-weight: bold;
  width: 91%;
  height: 25px;
}

.leftElem{
  display: flex;
  right: 0;
 
}


.projectsToShow{
  position: relative;
  left: 10%;
}

.createProj{
  position: relative;
  left: 10%;
}

.opt{
  position: relative;
  left: 10%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  background-color: white;
  min-height: 0vh;
  display: flex;
  flex-direction: column;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
